/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.ipfs {
  position: absolute;
  top: 1rem;
  right: 3rem;
  text-align: right;
}

.heroBanner {
  padding: 5rem 0 10rem 0;
  position: relative;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 3rem 1rem;
    padding-bottom: 8rem;
  }
  .card {
    margin-bottom: 1.5rem;
  }
}

.heroLogo {
  max-width: 150px;
  margin-bottom: 2rem;
}

@media screen and (max-width: 600px) {
}

.buttons {
  display: flex;
}

.cards {
  margin-top: -8rem;
  display: flex;
  align-items: center;
  padding: 2rem 0 4rem 0;
  width: 100%;
  position: relative;
}

.card {
  cursor: pointer;
}

.cardImage {
  height: 80px;
  width: 80px;
  margin-left: 1rem;
  margin-top: 1rem;
}

.avatar {
  margin-bottom: 3rem;
}

.testimonialImage {
  margin-bottom: 1rem;
}
.testimonialQuote {
  margin-top: 0.5rem;
  font-style: italic;
}

.testimonials {
  padding: 2rem 0 6rem 0;
  width: 100%;
}

.useCases {
  padding: 2rem 0 6rem 0;
  width: 100%;
}

.useCase {
  margin: 1rem 0;
  display: flex;
}

.useCaseImage {
  width: 50px;
  height: 50px;
  margin-left: 1rem;
  margin-top: 1rem;
}

.useCaseName {
  color: black;
  margin: 0 0.5rem;
}
